*{
    margin: 1px;
    padding: 1px;    
}

.container{
    width: 100%;
    display: grid;
    grid-template: "1fr 1fr 1fr 1fr 1fr" 33.33vh
                    "1fr 1fr 1fr 1fr 1fr" 33.33vh
                    "1fr 1fr 1fr 1fr 1fr" 33.33vh;
    grid-gap:10px;
}

.box{
    position: relative;
    background-color: #ccc;
}

.box img{
    position:absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.f{
    grid-column: span 5;
}
