*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
a{
    text-decoration: none;
}
.item{
    list-style: none;
    display: flex;
    align-items: center;
    
}
.item li{
    margin: 0 30px;
}
.active{
    color: brown;
    font-weight: bold;
    text-decoration: underline;
}
.navbar{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: white;
    font-size: 18px;
}

header{
    width: 100vw;
    height: 100vh;
    background-image: url('./img/background.jpg');
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.header-content{
    margin-bottom: 150px;
    color: white;
    text-align: center;
}
.header-content h2{
    font-size: 4vmin;
}
.line{
    width: 150px;
    height: 4px;
    background: salmon;
    margin: 10px auto;
    border-radius: 5px;
}
.header-content h1{
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}
.btn{
    padding: 8px 15px;
    background:salmon;
    border-radius: 30px;
    color:whitesmoke;
}
/* mobile device */
/* @media only screen and (max-width:850px){
    .navbar{
        padding: 0;

    }
    .logo{
        position: absolute;
        top: 30px;
        left: 30px;

    }
    .item{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: darkslategray;
        margin-top: -900px;
    }
    .mobile menu{
        margin-top: 0px;
    }
    .item li{
        margin: 30px auto;
    }
} */