*{
    margin: 5px;
    padding: 1px;
    box-sizing: border-box;
}

.formtext label{

padding-left: 320px;
justify-content: center;

}
.inputitem{
    /* padding-left: 100px; */
    justify-content: right;
   
    
}
.table-content {
   display: flex;
   justify-content: center;
   width: 50%;
   margin: 50px auto;
}
.tbl{
    width: 100%;
   text-align: center;
  
}
  
table, th, td {
    border:1px solid black;
    height: auto;
    border-collapse: collapse;
}
.button{
    background-color: #008CBA;
  border: none;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  
  cursor: pointer;
}
.button1{
    display: flex;
    justify-content: center;
}