*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 120px;
    background: #11141a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}
nav a{
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    margin-left: 35px;
    transition: .3s;
}
nav a:hover,
nav a.Active{
    color: #0ef;
}
section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #071838;
    font-size: 100px;
    color: aquamarine;
    font-weight: 700;
}
section:nth-child(odd){
    background: #7f9ff1a1;
    color: rgb(23, 4, 67);
}