
*{
  margin: 0;
  padding: 0;
}

.container{
    width: 100%;
    display: grid;
    grid-auto-flow: dense;
    grid-template: "1fr 1fr 1fr 1fr 1fr" 25vh 
                    "1fr 1fr 1fr 1fr 1fr" 25vh
                    "1fr 1fr 1fr 1fr 1fr" 25vh
                    "1fr 1fr 1fr 1fr 1fr" 25vh;
    grid-gap: 1px;
}

.photo{
    position: relative;
    background-color: #ccc;
}
.photo img{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.b{
    grid-column: span 3;
    grid-row: span 3;

}